.serviceCard {
  padding: 1.5rem;
  background-color: #814ced;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.serviceCard:hover {
  transform: scale(1.05);
}

.serviceTitle {
  margin-top: 1rem;
  font-size: 1.125rem; /* 18px */
  font-weight: 700;
  color: #f3f4f6; /* Light gray */
}

.serviceDescription {
  margin-top: 0.75rem;
  font-size: 0.875rem; /* 14px */
  color: rgba(255, 255, 255, 0.8); /* White with opacity */
}
